.post {
  background-color: white;
  margin-top: 1.75rem/* 28px */;
    margin-bottom: 1.75rem/* 28px */;
    border-width: 1px;
    border-radius: 0.125rem
}

.post > header {
  display: flex;
  align-items: center;
  padding: 1.25 rem;
  background-color: white;
}

.post > header > img {
  border-radius: 9999px;
  height: 3rem;
  width: 3rem/* 48px */;
  object-fit: contain;
  border-width: 1px;
  padding: 0.25rem/* 4px */;
  margin-right: 0.75rem/* 12px */;
}

.post > header > p {
  flex: 1 1 0%;
  font-weight: 700;
} 

.post > header > icon {
  height: 1.25rem/* 20px */;
}